<div class="main">
  <div class="header">
    <span class="nav-icon"><span></span></span>
    <span class="cx">cx</span>
    <span class="layalty">Loyalty</span>
  </div>
  <div class="tab-bar">
    <mat-tab-group [selectedIndex]="activeViewIndex">
     <mat-tab label="Flights">
       <div class="flight-content">
        <div class="departure">
          <app-search-box
          [label] = "'Departure *'"
          (valueSelected)="srcSelected($event)" ></app-search-box>
        </div>
        <div class="destination">
          <app-search-box [label] = "'Destination *'"
          (valueSelected)="destSelected($event)"></app-search-box>
        </div>
        <form class="create-form" [formGroup]="searchForm" novalidate (ngSubmit)="onSubmit(searchForm.value)">
          <div class="form-group">
            <fieldset class="departureDate">
              <legend>Depart Date *</legend>
              <input type="date"  formControlName="departDate">
            </fieldset>

            <fieldset class="returnDate">
              <legend>Return  Date</legend>
              <input type="date"  formControlName="returnDate">
            </fieldset>
          </div>
          <div class="form-group">
            <fieldset class="travelers">
              <legend>Travelers *</legend>
              <mat-select formControlName="travelers">
                <mat-option *ngFor="let count of travelersList" [value]="count">
                  {{count}}
                </mat-option>
              </mat-select>
            </fieldset>
            <fieldset class="class-type">
              <legend>Class</legend>
              <mat-select formControlName="travelersClass">
                <mat-option *ngFor="let item of travelersClassList" [value]="item">
                  {{item}}
                </mat-option>
              </mat-select>
            </fieldset>
          </div>
          <div class="form-group error-msg">
            <ng-container *ngIf="noFlightFound">
              <mat-error >No Flight Found !!!</mat-error>
            </ng-container>
          </div>
          <div class="form-group">
            <button
              mat-raised-button
                class="btn-info btn-search"
                type="submit" [disabled]="!searchForm.valid || !srcAirport || !destAirport">
                <span class="btn-title">{{btnTitle}}</span>
            </button>
          </div>
        </form>
       </div>
      </mat-tab>
     <mat-tab label="Hotels">
      <div class="form-group error-msg">
        <ng-container>
          <mat-error >Coming soon !!!</mat-error>
        </ng-container>
      </div>
     </mat-tab>
     <mat-tab label="Cars">
      <div class="form-group error-msg">
        <ng-container>
          <mat-error >Coming soon !!!</mat-error>
        </ng-container>
      </div>
     </mat-tab>
    </mat-tab-group>
  </div>
</div>
